#landing {
    padding: 10vh 0;
    background: url("/assets/photo-1531206715517-5c0ba140b2b8.jpeg");
    /* height: 80vh; */
    /* width: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
    /* margin-bottom: 10%; */
}

#about-info {
    width: 90%;
    margin: auto;
}

#about-info p {
    font-size: 1.5rem;
    text-align: center;
    margin: 10vh 0;
    line-height: 1.4;
}

@media (max-width: 500px) {
.navbar {
    background-color: rgba(0, 43, 85, 0.7);
}
}