/* GENERAL STYLES BEGIN HERE */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    130deg,
    rgba(197, 14, 203, 1) 0%,
    rgba(71, 241, 255, 1) 100%
  );
}

a {
  text-decoration: none;
}

/* font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif; */

/* GENERAL STYLES END HERE */

/* Standard Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 43, 85, 0);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.brand-title {
  font-family: "Comfortaa", cursive;
  color: white;
  font-size: 1.8rem;
  margin: 1rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: white;
  padding: 1rem 2rem;
  display: block;
}

.navbar-links li a:hover {
  color: #ed4b8d;
}

/* Toggle Menu */

.toggle-button {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* HERO-AMAGE STARTS HERE */

#hero-image {
  /* background: linear-gradient(130deg, rgba(197,14,203,1) 0%, rgba(71,241,255,1) 100%); */
  padding: 40vh 0 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#hero-image h1 {
  font-size: 10rem;
  font-family: "Comfortaa", cursive;
}

#hero-image h2 {
    font-family: 'Open Sans', sans-serif; 
    font-size: 2rem;
}

/* MEDIA QUERY FOR MOBILE */

@media (max-width: 500px) {
  /* For hamburger */
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 43, 85);
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    padding-bottom: 0.4rem;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.8rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
