/* GENERAL STYLES BEGIN HERE */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    330deg,
    rgba(197, 14, 203, 1) 0%,
    rgba(35, 160, 255, 1) 100%
  );
  font-family: "Open Sans", sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

.fas {
  font-size: 9rem;
  color: white;
  padding: 2rem;
  border: 5px solid white;
  border-radius: 20px;
}

.fas:hover,
.big-number:hover {
  background-color: #a4d260;
}

.co-make-logo {
  font-family: "Comfortaa", cursive;
}

.italics {
  font-style: italics;
}

/* font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif; */

/* GENERAL STYLES END HERE */

/* NAVBAR STARTS HERE */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 43, 85, 0);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.brand-title {
  font-family: "Comfortaa", cursive;
  color: white;
  font-size: 2rem;
  margin: 1rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: white;
  padding: 1rem 2rem;
  display: block;
  border-bottom: 3px solid transparent;
}

.navbar-links li a:hover {
  color: #dbe78a;
  border-bottom: 3px solid #dbe78a;
}

/* Toggle Menu */

.toggle-button {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* HERO-AMAGE STARTS HERE */

#landing {
  padding: 15vh 0 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#landing img {
  width: 25%;
  /* color: white; */
}

#landing h1 {
  font-size: 10rem;
  margin-top: 1%;
}

#landing h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  margin-top: 1%;
}

#landing .main-button {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  color: white;
  border: 4px solid white;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  margin: 7% 0;
}

#landing .main-button:hover {
  background-color: #a4d260;
}

/* INFO BEGINS HERE */

#info {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto 3%;
  text-align: center;
  width: 90%;
}

#info p {
  padding-bottom: 1rem;
  line-height: 1.3;
}

.headline {
  border-bottom: 4px solid white;
  padding-bottom: 9%;
  /* margin-bottom: 9%;
    margin-top: 5%; */
  margin: 5% auto 9%;
}

.sub-line {
  margin-bottom: 7%;
}

#info .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20%;
}

.text-block {
  font-family: "Open Sans", sans-serif;
  color: white;
  text-align: center;
  width: 70%;
}

.ordered-row {
  margin-bottom: 15%;
}

.big-number {
  font-family: "Comfortaa", cursive;
  font-size: 9rem;
  color: white;
  padding: 1rem 3rem;
  border: 5px solid white;
  border-radius: 20px;
}

/* FOOTER STARTS HERE */

footer {
  margin: 0 auto 3%;
  border-top: 4px solid white;
  width: 90%;
  font-size: 1.1em;
}

.footer-block {
  display: flex;
  justify-content: space-around;
  padding: 6% 0;
  line-height: 2;
}

footer .site-map {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .site-map a {
  border-bottom: 3px solid transparent;
}

footer .site-map a:hover {
  border-bottom: 3px solid #dbe78a;
}

footer .social-media {
  display: flex;
  flex-direction: column;
}

footer .social-media-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}

footer .fab {
  font-size: 1.7rem;
}

footer .fab:hover {
  color: #dbe78a;
}

footer .copyright {
  text-align: center;
}

/* MEDIA QUERY FOR TABLET */

@media (max-width: 800px) {
  #landing {
    padding: 25vh 0 27vh;
  }

  #landing h1 {
    font-size: 6rem;
  }

  #landing .main-button {
    font-size: 1.7rem;
  }

  /* INFO TABLET BEGINS HERE */

  #info {
    font-size: 1.5rem;
  }

  .fas {
    font-size: 5rem;
    border: 3px solid white;
  }

  #info p {
    padding-bottom: 1rem;
    line-height: 1.3;
  }

  .headline {
    font-size: 2.5rem;
    width: 80%;
    margin-top: 20%;
    /* margin: auto; */
  }

  .sub-line {
    margin-bottom: 7%;
    font-size: 2rem;
  }

  .ordered-row {
    margin-bottom: 15%;
  }

  .big-number {
    font-size: 7rem;
    padding: 0.5rem 2rem;
  }
}

/* TABLET ENDS HERE */

/* MEDIA QUERY FOR MOBILE */

@media (max-width: 500px) {
  /* For hamburger */
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }

  .brand-title {
    font-size: 2.5rem;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 43, 85, 0.3);
  }

  .navbar-links ul {
    width: 6rem;
    flex-direction: column;
    padding-bottom: 0.4rem;
    margin: auto;
  }

  .navbar-links li {
    text-align: center;
    display: block;
  }

  .navbar-links li a {
    padding: 0.8rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  #landing {
    padding: 30vh 0 30vh;
  }

  #landing img {
  }

  #landing h1 {
    font-size: 6rem;
  }

  #landing h2 {
  }

  #landing .main-button {
    font-size: 1.7rem;
    background-color: #a4d260;
  }

  /* INFO MOBILE BEGINS HERE */

  #info {
    font-size: 1.5rem;
  }

  .fas {
    font-size: 5rem;
    border: 3px solid white;
    margin-top: 10%;
    background-color: #a4d260;
  }

  #info p {
    padding-bottom: 1rem;
    line-height: 1.3;
  }

  .headline {
    font-size: 2.5rem;
    width: 80%;
    margin-top: 20%;
  }

  .sub-line {
    margin-bottom: 7%;
    font-size: 2rem;
  }

  #info .row {
    flex-direction: column;
    align-items: space-around;
    margin-bottom: 15%;
  }

  #info .blerb-row {
  }

  #info .ordered-row-2 {
    flex-direction: column-reverse;
  }

  .text-block {
    width: 90%;
  }

  .ordered-row {
    margin-bottom: 15%;
  }

  .big-number {
    font-size: 6rem;
    padding: 0.5rem 2rem;
    margin: 2rem auto 3rem;
    background-color: #a4d260;
  }

  /* FOOTER MOBILE BEGINS HERE */

  footer {
    font-size: 1rem;
    margin-top: 20%;
  }

  footer h4 {
    font-size: 1.2rem;
  }

  footer .social-media {
    text-align: center;
  }

  footer .social-media-icons {
    flex-direction: column;
  }
}

/* MOBILE ENDS HERE */
